.noscroll {
overflow: hidden;
}

.dn-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: hsla(0, 0%, 100%, 0.95);
}

.body {
  height: 200vh;
  background-color: #5644d8;
}

.dn-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dn-logo {
  height: 40px;
}

.dn-nav-menu {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dn-button-menu {
  margin-left: 24px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.dn-logo-container {
  margin-right: 24px;
}

.dn-button {
  padding: 12px 16px;
  border-radius: 7px;
  background-color: #5644d8;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.dn-button:hover {
  background-color: #4236a0;
}

.dn-nav-link {
  display: inline-block;
  margin-right: 24px;
  margin-left: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #5644d8;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 600;
  text-decoration: none;
}

.dn-nav-link:hover {
  color: #4236a0;
}

.dn-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 12px;
}

.dn-dropdown-content {
  position: absolute;
  left: -20%;
  display: none;
  min-width: 700px;
  padding: 32px 32px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #fcfcfc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.09);
  -webkit-transition: opacity 1000ms cubic-bezier(.19, 1, .22, 1);
  transition: opacity 1000ms cubic-bezier(.19, 1, .22, 1);
}

.dn-dropdown-content.hidden {
  display: none;
}

.dn-dropdown-content.smaller {
  min-width: 300px;
}

.dn-dropdown-content.middle {
  left: -120%;
}

.dn-dropdown-content.open {
  display: block;
}

.dn-dropdown-button {
  margin-top: 0px;
  padding: 10px 8px;
  font-family: 'Open Sans', sans-serif;
  color: #5644d8;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.dn-dropdown-button:hover {
  color: #4236a0;
}

.dn-caret {
  width: 14px;
  margin-top: -2px;
  margin-left: 6px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(.25, .46, .45, .94);
  transition: -webkit-transform 400ms cubic-bezier(.25, .46, .45, .94);
  transition: transform 400ms cubic-bezier(.25, .46, .45, .94);
  transition: transform 400ms cubic-bezier(.25, .46, .45, .94), -webkit-transform 400ms cubic-bezier(.25, .46, .45, .94);
}

.dn-caret.open {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dn-dropdown-line {
  height: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #4236a0;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: all 500ms cubic-bezier(.19, 1, .22, 1);
  transition: all 500ms cubic-bezier(.19, 1, .22, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dn-dropdown-inner-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.dn-dropdown-column {
  margin-right: 24px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.dn-dropdown-column.stretch {
  margin-right: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dn-dropdown-column.stretch.margin {
  margin-right: 24px;
}

.dn-dropdown-column.stretch.margin.align-bot {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.dn-dropdown-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #5644d8;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 600;
  text-decoration: none;
}

.dn-dropdown-link:hover {
  color: #4236a0;
}

.dn-dropdown-link.feature {
  position: relative;
  display: block;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 12px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #e5e1f1;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #273759;
}

.dn-dropdown-link.feature:hover {
  box-shadow: 0 0 7px 6px rgba(0, 0, 0, 0.04);
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
}

.dn-dropdown-icon {
  margin-right: 10px;
}

.dn-dropdown-link-text {
  display: inline-block;
}

.dn-dropdown-link-text.feature {
  font-size: 24px;
}

.dn-centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dn-dropdown-feature-text {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #273759;
  font-size: 14px;
  line-height: 1.3em;
}

.dn-dropdown-divider {
  height: 1px;
  margin-bottom: 24px;
  background-color: #e7ecf3;
}

.dn-mobile-menu {
  display: none;
}

.dn-menu-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dn-mobile-hamburger-line {
  width: 24px;
  height: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #5644d8;
}

.dn-dropdown-text {
  display: inline-block;
  margin-right: 24px;
  margin-left: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 600;
  text-decoration: none;
}

.dn-dropdown-text:hover {
  color: #4236a0;
}

.dn-dropdown-text.no-margin {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (max-width: 991px) {
  .dn-navbar {
    min-height: 64px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .dn-container {
    position: relative;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .dn-nav-menu {
    width: 100%;
  }
  .dn-button-menu {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    margin-left: 0px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff;
    box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.04);
    text-align: center;
  }
  .dn-logo-container {
    position: relative;
    z-index: 2;
  }
  .dn-button {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .dn-nav-link {
    display: block;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .dn-nav-link.link-only {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e7ecf3;
  }
  .dn-dropdown {
    width: 100%;
    margin-right: 0px;
  }
  .dn-dropdown-content {
    position: relative;
    left: 0%;
    display: none;
    width: 100%;
    min-width: 0px;
    padding-top: 16px;
    padding-right: 0px;
    padding-left: 16px;
    border-style: none none solid;
    border-bottom-color: #e7ecf3;
    border-radius: 0px;
    box-shadow: none;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }
  .dn-dropdown-content.middle {
    left: 0%;
  }
  .dn-dropdown-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e7ecf3;
    cursor: pointer;
  }
  .dn-caret.open {
    -webkit-transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  }
  .dn-dropdown-line {
    display: none;
  }
  .dn-dropdown-inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .dn-dropdown-column {
    margin-right: 0px;
  }
  .dn-dropdown-column.stretch.margin.align-bot {
    width: 100%;
    margin-right: 0px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .dn-dropdown-link {
    margin-bottom: 0px;
  }
  .dn-dropdown-link.feature {
    margin-top: 10px;
    padding: 5px 0px;
    background-color: transparent;
    color: #5644d8;
  }
  .dn-dropdown-link.feature:hover {
    border-radius: 0px;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    color: #4236a0;
  }
  .dn-dropdown-icon {
    width: 28px;
    height: 28px;
  }
  .dn-dropdown-link-text.feature {
    font-size: 16px;
  }
  .dn-dropdown-feature-text {
    display: none;
  }
  .dn-dropdown-divider {
    display: none;
  }
  .dn-mobile-menu {
    position: relative;
    z-index: 3;
    display: block;
    cursor: pointer;
  }
  .dn-menu-container {
    position: fixed;
    left: 0%;
    top: 0px;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    display: none;
    overflow: scroll;
    padding: 64px 20px 160px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
  }
  .dn-menu-container.open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .dn-mobile-hamburger-line {
    opacity: 1;
    -webkit-transform: rotate(0deg) translate(0px, 0px);
    -ms-transform: rotate(0deg) translate(0px, 0px);
    transform: rotate(0deg) translate(0px, 0px);
    -webkit-transition: opacity 100ms cubic-bezier(.19, 1, .22, 1), -webkit-transform 600ms cubic-bezier(.19, 1, .22, 1);
    transition: opacity 100ms cubic-bezier(.19, 1, .22, 1), -webkit-transform 600ms cubic-bezier(.19, 1, .22, 1);
    transition: opacity 100ms cubic-bezier(.19, 1, .22, 1), transform 600ms cubic-bezier(.19, 1, .22, 1);
    transition: opacity 100ms cubic-bezier(.19, 1, .22, 1), transform 600ms cubic-bezier(.19, 1, .22, 1), -webkit-transform 600ms cubic-bezier(.19, 1, .22, 1);
  }
  .dn-mobile-hamburger-line.hide {
    opacity: 0;
  }
  .dn-mobile-hamburger-line.top {
    -webkit-transform: translate(0px, 7px) rotate(45deg);
    -ms-transform: translate(0px, 7px) rotate(45deg);
    transform: translate(0px, 7px) rotate(45deg);
  }
  .dn-mobile-hamburger-line.bot {
    -webkit-transform: translate(0px, -7px) rotate(-45deg);
    -ms-transform: translate(0px, -7px) rotate(-45deg);
    transform: translate(0px, -7px) rotate(-45deg);
  }
  .dn-dropdown-text {
    display: block;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .dn-dropdown-text.no-margin {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#menucontainer {
-webkit-overflow-scrolling: touch;
}

@media screen and (min-width:992px) {
  .dn-dropdown:hover .dn-dropdown-content {
    display:block;
  }
  .dn-dropdown:hover .dn-dropdown-line {
    transform: scale3d(1,1,1);
  }
  .dn-dropdown:hover .dn-caret {
    transform: rotateX(180deg);
  }
  .dn-link-button:hover .dn-dropdown-line {
    transform: scale3d(1,1,1);
  }
}

@media screen and (max-width: 767px) {
  .dn-navbar {
    padding-right: 10px;
    padding-left: 10px;
  }
}
