/* Form Field (selector for form field wrapper) */
.hs-form {
  background-color: #ebeaed;
  padding-bottom: 32px;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  border: 0px none transparent;
  border-radius: 6px;
  overflow: hidden;
  display: block;
}

.hs-form .hs-form-field,
.hs-form fieldset {
  max-width: none !important;
  margin-bottom: 16px;
}

/* Descriptions (targets class applied to Help Text divs) */
.hs-form .hs-field-desc {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.3em;
  color: #003462;
  margin-bottom: 4px;
}

/* Labels (selects field labels and error messages) */
.hs-form label {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.3em;
  color: #003462;
}
.hs-form .hs-form-field > label {
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: bold;
}
.hs-form .hs-form-field .hs-form-required {
  color: #c87872;
}

/* Inputs (selectors for all inputs)  */
.hs-form input[type="text"],
.hs-form input[type="password"],
.hs-form input[type="datetime"],
.hs-form input[type="datetime-local"],
.hs-form input[type="date"],
.hs-form input[type="month"],
.hs-form input[type="time"],
.hs-form input[type="week"],
.hs-form input[type="number"],
.hs-form input[type="email"],
.hs-form input[type="url"],
.hs-form input[type="search"],
.hs-form input[type="tel"],
.hs-form input[type="color"],
.hs-form input[type="file"],
.hs-form textarea,
.hs-form select {
  width: 100% !important;
  padding: 8px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3em;
  color: #003462;
  transition: 0.3s ease-out;
  background-color: #ffffff;
}

/* Inputs in focus (selectors for all inputs when clicked)  */
.hs-form input[type="text"]:focus,
.hs-form input[type="password"]:focus,
.hs-form input[type="datetime"]:focus,
.hs-form input[type="datetime-local"]:focus,
.hs-form input[type="date"]:focus,
.hs-form input[type="month"]:focus,
.hs-form input[type="time"]:focus,
.hs-form input[type="week"]:focus,
.hs-form input[type="number"]:focus,
.hs-form input[type="email"]:focus,
.hs-form input[type="url"]:focus,
.hs-form input[type="search"]:focus,
.hs-form input[type="tel"]:focus,
.hs-form input[type="color"]:focus,
.hs-form input[type="file"]:focus,
.hs-form textarea:focus,
.hs-form select:focus {
  outline: none;
  border-color: #003462;
}

.hs-form .hs-input.error {
  border-color: #c87872;
}

/* Multi-line inputs (selectors to target multi-line fields */
.hs-form textarea {
  resize: vertical;
}
.hs-form textarea:focus {}

/* Dropdowns (selectors for dropdowns) */
.hs-form select {}
.hs-form select:focus {}

/* Multi-select (selectors for multi-select fields) */
.hs-form form.hs-form .hs-form-field ul.inputs-list {
  list-style-type: none;
}

.hs-form form.hs-form .hs-form-field ul.inputs-list li input {}
.hs-form input[type="radio"] {}
.hs-form input[type="checkbox"] {}

/* Required (selectors for fields, when they do not pass validation) */
.hs-form input:focus:required:invalid,
.hs-form textarea:focus:required:invalid,
.hs-form select:focus:required:invalid {}

.hs-form input:focus:required:invalid:focus,
.hs-form textarea:focus:required:invalid:focus,
.hs-form select:focus:required:invalid:focus {}

/* Error message (selector for validation messages) */
.hs-form .hs-error-msgs label {
  list-style-type: none;
}

.wistia_responsive_padding .hs-form .hs-error-msgs label {
  color: #ffffff;
  font-size: 12px;
}

.hs-form .hs-form-radio span,
.hs-form .hs-form-checkbox span{
  font-size: 16px;
  font-weight: normal;
  margin-left: 4px;
}

.hs-form .hs-form-radio label,
.hs-form .hs-form-checkbox label {
  margin-bottom: 8px;
}

.hs-form .hs-form-field ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.hs-form .hs-richtext {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.3em;
  color: #003462;
  max-width: 340px;
}

/* Placeholder Text (styles the placeholder attribute text) */
::-webkit-input-placeholder { /* Webkit Browsers */}
:-moz-placeholder { /* Firefox 18- */}
::-moz-placeholder { /* Firefox 19+ */}
:-ms-input-placeholder { /* IE10 */}

/* Multi Column Form (selectors for fieldsets and field wrappers)
   ========================================================================== */

.hs-form .hs-form fieldset.form-columns-1 {}
.hs-form .hs-form fieldset.form-columns-1 .hs-form-field {}

.hs-form .hs-form fieldset.form-columns-2 {}
.hs-form .hs-form fieldset.form-columns-2 .hs-form-field {}

.hs-form .hs-form fieldset.form-columns-3 {}
.hs-form .hs-form fieldset.form-columns-3 .hs-form-field {}

/* Submit buttons (selectors for all non-CTA buttons)
   ========================================================================== */

body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #2e1da5;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 12px 32px;
  border-radius: 6px;
  border: none;
  transition: 0.3s ease;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 1em;
  position: relative;
  text-align: center;
  cursor: pointer;
}

body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover {
  background-color: #1c0f7b;
}

@media only screen and (max-width: 767px) {
  .hs-form {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
